	 body {
     margin: 0;
     padding: 0;
     position: relative;
     align-content: center;
     /*background-color: #f4f4f4;*/
 }

.wrapper {
    position: relative;
    width: 980px;
    margin: auto;
}
.wrapper > * { position: absolute }

.sidebar {
    width: calc((980px/100)*25);
    color: #fff;
    padding: 0;
}

.content {
    left: calc((980px/100)*25);
    width: 800px;
}

#map {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    width: calc((980px/100)*75);
    height: 474px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 3px;
    /*z-index: -999;*/
}

.sidebar > ul {
    margin-left: -40px;
}

.sidebar > ul > li {
    padding: 5px 5px;
    background: #447db4;
    background: -moz-linear-gradient(-45deg, #447db4 20%, #9365e1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #447db4 20%,#9365e1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #447db4 20%,#9365e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447db4', endColorstr='#9365e1',GradientType=1 );
    text-align: center;
    /*margin: 3px 3px;*/
    border-radius: 3px;
    height: 50px;
    float: left;
    width: calc((980px/100)*25);
    margin-top: 3px;
    list-style-type: none;
}

.sidebar > ul > li > div:first-child {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#menu {
    /*position: fixed;*/
    height: 50px;
    width: calc((980px/100)*75);
    z-index: 99999;
    visibility: visible;
    margin: 3px;
    border-radius: 3px;
    background-image: -ms-radial-gradient(left bottom, ellipse farthest-corner, #9365E1 0%, #447db4 100%);
    background-image: -moz-radial-gradient(left bottom, ellipse farthest-corner, #9365E1 0%, #447db4 100%);
    background-image: -o-radial-gradient(left bottom, ellipse farthest-corner, #9365E1 0%, #447db4 100%);
    background-image: -webkit-gradient(radial, left bottom, 0, left bottom, 572, color-stop(0, #9365E1), color-stop(100, #447db4));
    background-image: -webkit-radial-gradient(left bottom, ellipse farthest-corner, #9365E1 0%, #447db4 100%);
    background-image: radial-gradient(ellipse farthest-corner at left bottom, #9365E1 0%, #447db4 100%);
}
#menu > button{
    /*text-align: right;*/
}
#menu > button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    width: 200px;
    padding: 5px 10px;
    margin: 8px;
    /*float: right;*/
    transition: .2s;
}

#menu {
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    /*display: inline-block;*/
}

#menu > * {
    position: relative;
}

#menu > input {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

/*#menu > button:hover {*/
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
/*}*/
#menu > button:hover {
    background-color: #416fa6;
    /*color: #5bc0de;*/
}

.header {
    height: 50px;
    width: 983px;
    /*margin: 3px;*/
    background-color: #5bc0de;
    position: static;
    border-radius: 0px 0px 3px 3px;
    background: #447db4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #447db4 0%, #9365e1 28%, #447db4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #447db4 0%,#9365e1 28%,#447db4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #447db4 0%,#9365e1 28%,#447db4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447db4', endColorstr='#447db4',GradientType=1 );
}

#param_title {
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
}

.logo {
    /*background-color: red;*/
    position: absolute;
    height: 50px;
    width: calc((980px/100)*25);
    margin: 0px;
    font-weight: bold;
    font-size: 23px;
    padding: 9px 0px;
    text-align: center;
    transition: .2s;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    float: right;
    z-index: 999;
    width: calc((980px/100)*75);;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
}

.navbar > ul > li {
    display: inline-block;
    float: right;
    padding: 14px;
    font-weight: bold;
    transition: .2s;
}

.navbar > ul > li:hover {
    background-color: #416fa6;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.check_form {
    /*display: block;*/
    float: left;
    /*margin: 8px 10px;*/
    height: 50px;
    padding: 13px 0px 13px 8px;
    /*width: 350px;*/
}

.checkbox {
    margin-top: 0;
}

label {
    font-weight: 300;
}

.wrapper {
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #5bc0de;
}

.round {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    z-index: 9999;
    border-radius: 50%;
    float: right;
    margin-left: 223px;
    margin-top: -18px;
}

.red_color {
    background-color: #ff211e;
}

.green_color {
    background-color: #00E86C;
}

.minPanel {
    width: calc((980px/100)*12.34) !important;
    font-size: 10px;
}

.minRound {
    margin-left: 99px;
    margin-top: -13px;
}

.minPanel:nth-child(odd) {
    margin-right: 3px !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
 height: 100%;
 min-width:900px;
}

.wrapper {
 padding-bottom: 100px;/*Примерно 2 размера footer, чтобы он не наезжал на контент при узком окне браузера*/
}
#footer {
    top: 600px;
    margin-top: 100px;
    height: 250px;
    /*background: red;*/
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    background: rgb(147,101,225); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(147,101,225,1) 0%, rgba(147,101,225,1) 36%, rgba(68,125,180,1) 87%, rgba(68,125,180,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(147,101,225,1) 0%,rgba(147,101,225,1) 36%,rgba(68,125,180,1) 87%,rgba(68,125,180,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(147,101,225,1) 0%,rgba(147,101,225,1) 36%,rgba(68,125,180,1) 87%,rgba(68,125,180,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9365e1', endColorstr='#447db4',GradientType=0 );
}