<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>itstime4science | Coming soon...</title>
</head>
<style>
    h1 {
		text-align: center; 
		font-size: 48px; 
		font-family: sans;
		margin-top: 100px;
    }
    
    a {
    	font-size: 32px;
    	border: 3px solid #026BB6;
    	border-radius: 5px;
    	padding: 10px;
        background-color: #026BB6;
        margin-top: 20px;
        text-decoration: none;
        font-size: 24px;
        color: #fff;
        font-family: sans-serif;

    }	

    a:hover {
        border-color: #005c9f;
        background-color: #005c9f;
    }
</style>
<body>
    <h1>
        Coming soon
        <br>
        (╯°□°）╯︵ ┻━┻
        <br>
        <img src="http://4.bp.blogspot.com/-HAgJIS273iQ/Vb2uluX3gGI/AAAAAAAA4Ic/b36gNlpEsNc/s1600/A8583.gif" alt="">
        <br>
        <a href="/">BACK</a>
    </h1>
</body>
</html>