<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ data["title"] }}</title>
	
	<!-- Title icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/title_icon.ico') }}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Yandex Maps API -->
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/yandex_maps.js') }}"></script> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respoеnd.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){     
        myMap = new ymaps.Map("map", {
            center: [53.22544088, 45.00208070],
            zoom: 17
        });
        myPlacemark = new ymaps.Placemark([53.22553745, 45.00223627], { 
            hintContent: 'Мы тут!', 
            balloonContentHeader: 'Лаборатория ВВиВС' ,
            balloonContentBody: 'улица Гагарина, 13Б<br>ПензГТУ (Корпус №2)<br>Кабинет: №316',
            balloonContentFooter: 'Здесь творится магия :)'
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script> 

<style>
   p {
    text-indent: 30px; /* Отступ первой строки в пикселах */
   }
</style>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><span><i class="fa fa-rocket" aria-hidden="true"></i>          itstime4science</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/copter">Коптер</a>
                    </li>
                    <li>
                        <a href="/satellite">Студенческая лига</a>
                    </li>
                    <li>
                        <a href="/mcc">МКЦ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color: #0565ae; background-image: url({{ url_for('static', filename=data['head_photo']) }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ data["head_title"] }}</h1>
                        <hr class="small">
                        <span class="subheading">{{data["head_footer"]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 main_content">
                {% autoescape false %}
                {{data["description"]}}
                {% endautoescape %}
            </div>
        </div>
    </div>


    <!-- Team Members Row -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ data["team_photo"]["team_row_title"] }}</h2>
            </div>
            {% for row_data in data["team_photo"]["people"] %}
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{{ row_data["link_to_photo"] }}" alt="">
                <h3>{{ row_data["name"] }}
                    <br>
                    <small>{{ row_data["job_title"] }}</small>
                </h3>
                <p>{{ row_data["comment"] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Галерея -->
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Галерея</h2>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for count in data["gallery"] %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ count[0] }}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for photo in data["gallery"] %}
                {% if photo[0] == 0 %}
                <div class="item active">
                    <img src={{ photo[1] }} alt="...">
                </div>
                {% else %}
                <div class="item">
                    <img src={{ photo[1] }} alt="...">
                </div>
                {% endif %}
                {% endfor %}
                
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
                </div>
            </div>
        </div>
    </div>  
    
    {% if main %}
    <!-- Yandex Maps -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Как до нас добраться</h2>
            </div>
            <div class="col-lg-12">
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; ВВиВС 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>



</body>

</html>


