<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>itstime4science | МКЦ</title>
	<!-- Title icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/title_icon.ico') }}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<style>
	html, body {
		padding: 0;
		margin: 0;
		background-color: #fff;
	}
	
	.title_row {
		margin-top: 10px;
		height: auto;
	}		

	.param_block {
		word-wrap: break-word;
		font-family: sans-serif;
		text-align: center;
		height: 60px;
	}

	.param_block:hover {
		color: #0B0BCD;
	}

	#map {
		height: 350px;
	}

	.map {
		padding-top: 10px;
		padding-bottom: 25px
	}

	i.fa {
		font-size: 18px;
	}

	.cent-col {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.button {
		text-align: center;
	}



</style>

<script type="text/javascript">
    // $(window).load(function(){
    //     $('#myModal').modal('show');
    // });
    
</script>


<body>
	<!-- Data panel -->
	<div class="row title_row center clearfix">
		<div class="col-md-1"></div>
		<div class="col-md-2 col-sm-1 col-xs-5 param_block cent-col">
			<span><i class="fa fa-clock-o" aria-hidden="true"></i> Timestamp</span><br>
			<span id="ts"></span> s
		</div>
		<div class="col-md-2 col-sm-4 col-xs-5 param_block">
			<span><i class="fa fa-area-chart" aria-hidden="true"></i> Latitude</span><br>
			<span id="lat"></span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-5 param_block cent-col">
			<span><i class="fa fa-area-chart" aria-hidden="true"></i> Longitude</span><br>
			<span id="lon"></span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-5 param_block">
			<span><i class="fa fa-area-chart" aria-hidden="true"></i> Altitude</span><br>
			<span id="alt"></span> km
		</div>
		<div class="col-md-2 col-sm-4 col-xs-5 param_block cent-col">
			<span><i class="fa fa-battery-three-quarters fa-rotate-270" aria-hidden="true"></i> Battery charge</span><br>
			<span id="bat"></span> %
		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- <hr> -->
	
	<!-- Google Maps -->
	<div class="row map">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div id="map"></div>			
		</div>
		<div class="col-lg-1"></div>
	</div>
	

	<!-- Button -->
	<div class="row">
		<div class="clo-lg-12 button">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Конец демонстрации</button>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">МКЦ</h4>
	      </div>
	      <div class="modal-body">
	        Добро пожаловать в мобильный командный центр!
	        Данная страница еще находится в разработке и лишь является демонстационным вариантом 
	        который показывает что то...
	      </div>
	      <div class="modal-footer">
	        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Запуск демо</button>
	      </div>
	    </div>
	  </div>
	</div>






	<!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>
    <script type="text/javascript">

			// var map;
			// function initMap() {
			//   map = new google.maps.Map(document.getElementById('map'), {
			//     center: {lat: 53.22544088, lng: 45.00208070},
			//     zoom: 17
			//   });
			// }

			</script>
	<script src= {{ url_for('static', filename='js/app/app.js') }}></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARZbYExNkap4x9t4yHIdojKU2tUwWe4n0&callback=initMap">
    </script>

   
    

</body>
</html>