<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчёт</title>
    <!-- Title icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/title_icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mcc.css') }}">

</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>

<div class = "chart-container" style = "position: relative;  width:40vw"> <canvas id = "chart" > </canvas> </div> 
<div class = "chart-container" style = "position: relative;  width:40vw"> <canvas id = "chart1" > </canvas> </div> 
<div class = "chart-container" style = "position: relative;  width:40vw"> <canvas id = "chart2" > </canvas> </div> 
<script>
var ctx = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            fill: false,
            label: "My First dataset",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 0, 0)',
            data: [0, 10, 5, 2, 20, 30, 45],
        },
	{           
	    fill: false,
            label: "My First dataset",
            backgroundColor: 'rgb(1, 1, 255)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 0, 30, 45],
        }]
    },

    // Configuration options go here
    options: {}
});

</script>


</body>
<html>