<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчёт</title>
    <!-- Title icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/title_icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mcc.css') }}">

</head>


 <a href="{{ url_for('download') }}"><abbr title="Если скачивание не произошло сразу, подождите некоторое время (около 30-60 секунд).">Скачать отчёт</abbr></a>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<div>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart1" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart2" > </canvas> </span>
</div>
<div>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart3" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block;position: relative;  width:32vw"> <canvas id = "chart4" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart5" > </canvas> </span>
</div>

    <div>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart8" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart9" > </canvas> </span>
</div>
<div>
    <span class = "chart-container" style = "display: inline-block;  position: relative;  width:32vw"> <canvas id = "chart10" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart11" > </canvas> </span>
</div>
<div>
    <span class = "chart-container" style = "display: inline-block;  position: relative;  width:32vw"> <canvas id = "chart12" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart13" > </canvas> </span>
</div>
<div>
    <span class = "chart-container" style = "display: inline-block;  position: relative;  width:32vw"> <canvas id = "chart14" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart15" > </canvas> </span>
</div><div>
    <span class = "chart-container" style = "display: inline-block;  position: relative;  width:32vw"> <canvas id = "chart16" > </canvas> </span>
    <span class = "chart-container" style = "display: inline-block; position: relative;  width:32vw"> <canvas id = "chart17" > </canvas> </span>
</div>



<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script typr="text/javascript" src="{{ url_for('static', filename='js/report.js') }}"></script>

</body>
<html>
