<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные телеметрии</title>
</head>
<body>
Date and time: {{ datetime}} <br>
Lat : {{ lat }} <br>                                
Lon : {{ lon }} <br>
Alt : {{ alt }} <br>
Temp1 : {{ temp1 }} <br>
Temp2 : {{ temp2 }} <br>
Pressure1 : {{ pressure1 }} <br>
Pressure2 : {{ pressure2 }} <br>
Battery charge : {{ bat_crg }} <br>
Battery voltage : {{ bat_volt }} <br>
Battery tempeature : {{ bat_temp }} <br>
Ultraviolet1 : {{ ultraviolet1 }} <br>
Ultraviolet2 : {{ ultraviolet2 }} <br>
Infrared1 : {{ infrared1 }} <br>
Infrared2 : {{ infrared2 }} <br>
Hdop : {{ hdop }} <br>
Vdop : {{ vdop }} <br>
Sats : {{ sats }} <br>
Radiation : {{ radiation }} <br>
Dust : {{ dust }} <br>
Ozone : {{ ozone }} <br>
Status : {{ status }} <br>
Type_lat : {{ type_lat }}                                    

</body>
</html>